.boton{
    text-align: center;
    border: 2em;
    background-color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    border-radius: 1px;
}
img{
    align-self: center;
    width: 200px;
    height: 290px;
}
div {
    float: left;
}